/* layout fix */
.page-id-8 .site-main{
    margin-bottom: 0px;
}
.page-id-8 .site-content {
    outline: none;
    margin-top: -100px;
}
.page-id-8 .site-content .col-full {
    max-width: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0 !important;
}
.site-footer{
    display: none !important;
}

/* header fix */
img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
    width: 70%;
}
@media only screen and (max-width: 600px) {
    .home.blog .site-header, .home.page:not(.page-template-template-homepage) .site-header, .home.post-type-archive-product .site-header {
        margin-bottom: 4.235801032em;
        position: fixed;
        width: 100%;
    }
}

/* .elementor-widget-container */
.elementor-widget-container h5{ 
    display: none !important;
}
.elementor-widget-container ul.product_list_widget {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-left: 60px;
}
.elementor-widget-container ul.product_list_widget li {
    padding-bottom: 20px;
}
.elementor-widget-container .product-title {
    height: 60px;
    width: 250px;
    font-size: 16px;
    float: left !important;
    text-transform: uppercase;
}
.elementor-widget-container span.woocommerce-Price-amount.amount {
    font-size: 14px;
    float: left !important;
}
.elementor-widget-container .product_list_widget li img {
    max-width: none; 
    float: none; 
}
@media only screen and (max-width: 600px) { 
    .elementor-widget-container .product-title {
        margin-left: 10px;
        margin-top: 20px;
    }
    .elementor-widget-container ul.product_list_widget { 
        grid-template-columns: auto; 
        padding-left: 0px; 
    } 
    .elementor-widget-container span.woocommerce-Price-amount.amount {
        font-size: 14px;
        float: left !important;
        margin-top: 80px;
        margin-left: -250px;
    }
    img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
        width: 100%;
    }
}